spacy==2.2.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz
gensim==3.8.3
nltk==3.5
numpy==1.18.4
Owlready2==0.23
pyaml==20.4.0
PyYAML==5.3.1
regex==2020.4.4
scikit-learn==0.22.2.post1
scipy==1.4.1
sklearn==0.0
