ddt==1.4.1
gensim==3.8.3
nltk==3.5
numpy==1.18.4
ordered-set==4.0.2
Owlready2==0.23
pathspec==0.8.0
pyaml==20.4.0
python-crfsuite==0.9.7
regex==2020.4.4
scikit-learn==0.22.2.post1
scipy==1.4.1
sklearn==0.0
spacy==3.0.6
transformers
torch
